h1 {
    text-align: center;font-size:100px;font-family: cursive;
  }
  div{
    text-align: center; list-style-position: inside;font-size: 50px; font-family: cursive; color: rgb(5, 99, 99);
  }
  div2{
    font-size: 40px;
  }
  .anchor{
    text-align: center;
}
body{
    background-color: aqua;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS48fD6EGd92GOrqszkxNzz3x4uYFMfU45arg&usqp=CAU);
}
div3{
    font-family: 'Times New Roman', Times, serif;
}
a{
    color: rgb(204, 0, 255);
}
a:visited{
    color: rgb(42, 42, 163);
}